<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container" style="width:100%; height:100%;">
  <div class="content" style="width:100%; height:100%;">
    <mat-drawer-container style="width:100%; height:100%;">
      <mat-drawer mode="side" opened><app-menu></app-menu></mat-drawer>
      <mat-drawer-content><app-menu2></app-menu2>
        <section class="app-content">
          <div class="selectors">
          <div class="color-selector">
            <div class="filters">
              <a class="button button--dress" (click)="toggleModal()">
                <div class="button__wrapper">
                  <span class="button__text">COLOR</span>
                </div>
            </a>
            </div>
            <div id="colorModal" class="color-modal" [ngClass]="{'show': isModalOpen}">
              <div class="color-modal-content">
                <span class="close" (click)="toggleModal()">&times;</span>
                <div class="color-grid">
                  <div class="color-box yellow" (click)="seleccionarPorRango('amarillo')"><span>AMARILLO</span></div>
                  <div class="color-box beige" (click)="seleccionarPorRango('beige')"><span>BEIGE</span></div>
                  <div class="color-box white" (click)="seleccionarPorRango('blanco')"><span>BLANCO</span></div>
                  <div class="color-box brown" (click)="seleccionarPorRango('marron')"><span>MARRÓN</span></div>
                  <div class="color-box purple" (click)="seleccionarPorRango('morado')"><span>MORADO</span></div>
                  <div class="color-box orange" (click)="seleccionarPorRango('naranja')"><span>NARANJA</span></div>
                  <div class="color-box black" (click)="seleccionarPorRango('negro')"><span>NEGRO</span></div>
                  <div class="color-box grey" (click)="seleccionarPorRango('gris')"><span>GRIS</span></div>
                  <div class="color-box red" (click)="seleccionarPorRango('rojo')"><span>ROJO</span></div>
                  <div class="color-box pink" (click)="seleccionarPorRango('rosa')"><span>ROSA</span></div>
                  <div class="color-box green" (click)="seleccionarPorRango('verde')"><span>VERDE</span></div>
                  <div class="color-box blue" (click)="seleccionarPorRango('azul')"><span>AZUL</span></div>
                </div>
                <div class="actions">
                  <button class="clear-btn" (click)="limpiarFiltro()">CLEAR</button>
                </div>
              </div>
            </div>
          </div>
          <div class="clothes-selector">
            <div class="filters">
              <a class="button button--dress" (click)="toggleModal2()">
                <div class="button__wrapper">
                    <span class="button__text">PRENDA</span>
                </div>
            </a>
            </div>
            <div id="colorModal" class="color-modal" [ngClass]="{'show': isModalOpen2}">
              <div class="color-modal-content">
                <span class="close" (click)="toggleModal2()">&times;</span>
                <div class="clothes-grid">
                  <div class="color-box bag" (click)="seleccionarPorRopa('bag')"><span>BOLSA</span></div>
                  <div class="color-box belt" (click)="seleccionarPorRopa('belt')"><span>CINTURÓN</span></div>
                  <div class="color-box bowtie" (click)="seleccionarPorRopa('bowtie')"><span>MOÑO</span></div>
                  <div class="color-box bracelet" (click)="seleccionarPorRopa('bracelet')"><span>PULSERA</span></div>
                  <div class="color-box dress" (click)="seleccionarPorRopa('dress')"><span>VESTIDO</span></div>
                  <div class="color-box earrings" (click)="seleccionarPorRopa('earrings')"><span>ARETES</span></div>
                  <div class="color-box glasses" (click)="seleccionarPorRopa('glasses')"><span>LENTES</span></div>
                  <div class="color-box gloves" (click)="seleccionarPorRopa('gloves')"><span>GUANTES</span></div>
                  <div class="color-box hair-clip" (click)="seleccionarPorRopa('hair clip')"><span>CLIP DE CABELLO</span></div>
                  <div class="color-box hat" (click)="seleccionarPorRopa('hat')"><span>SOMBRERO</span></div>
                  <div class="color-box headband" (click)="seleccionarPorRopa('headband')"><span>DIADEMA</span></div>
                  <div class="color-box hosiery" (click)="seleccionarPorRopa('hosiery')"><span>MEDIA</span></div>
                  <div class="color-box jumpsuit" (click)="seleccionarPorRopa('jumpsuit')"><span>MONO</span></div>
                  <div class="color-box mittens" (click)="seleccionarPorRopa('mittens')"><span>MITONES</span></div>
                  <div class="color-box necklace" (click)="seleccionarPorRopa('necklace')"><span>COLLAR</span></div>
                  <div class="color-box necktie" (click)="seleccionarPorRopa('necktie')"><span>CORBATA</span></div>
                  <div class="color-box outerwear" (click)="seleccionarPorRopa('outerwear')"><span>ABRIGO</span></div>
                  <div class="color-box pants" (click)="seleccionarPorRopa('pants')"><span>PANTALONES</span></div>
                  <div class="color-box pin-brooch" (click)="seleccionarPorRopa('pin/brooch')"><span>PIN/BROCHE</span></div>
                  <div class="color-box pocket-square" (click)="seleccionarPorRopa('pocket square')"><span>PAÑUELO DE BOLSILLO</span></div>
                  <div class="color-box ring" (click)="seleccionarPorRopa('ring')"><span>ANILLO</span></div>
                  <div class="color-box romper" (click)="seleccionarPorRopa('romper')"><span>ROMPER</span></div>
                  <div class="color-box scarf" (click)="seleccionarPorRopa('scarf')"><span>BUFANDA</span></div>
                  <div class="color-box shoes" (click)="seleccionarPorRopa('shoes')"><span>ZAPATOS</span></div>
                  <div class="color-box shorts" (click)="seleccionarPorRopa('shorts')"><span>SHORTS</span></div>
                  <div class="color-box skirt" (click)="seleccionarPorRopa('skirt')"><span>FALDA</span></div>
                  <div class="color-box socks" (click)="seleccionarPorRopa('socks')"><span>CALCETINES</span></div>
                  <div class="color-box sunglasses" (click)="seleccionarPorRopa('sunglasses')"><span>GAFAS DE SOL</span></div>
                  <div class="color-box suspenders" (click)="seleccionarPorRopa('suspenders')"><span>TIRANTES</span></div>
                  <div class="color-box swimwear" (click)="seleccionarPorRopa('swimwear')"><span>TRAJE DE BAÑO</span></div>
                  <div class="color-box tie-clip" (click)="seleccionarPorRopa('tie clip')"><span>PASADOR DE CORBATA</span></div>
                  <div class="color-box top" (click)="seleccionarPorRopa('top')"><span>BLUSA</span></div>
                  <div class="color-box vest" (click)="seleccionarPorRopa('vest')"><span>CHALECO</span></div>
                  <div class="color-box watch" (click)="seleccionarPorRopa('watch')"><span>RELOJ</span></div>
                </div>
                <div class="actions">
                  <button class="clear-btn" (click)="limpiarFiltro()">CLEAR</button>
                </div>
              </div>
            </div>
          </div>
        </div>
          <ul class="projects">
            <ng-container *ngFor="let articulo of filteredItems.length > 0 ? filteredItems : dataSource; let i = index">
              <div class="containers">
                <div class="window">
                  <br>
                  <img class="user" src="assets/img/{{perfil[articulo.id_user]?.imagen}}">
                  <a class="username">{{articulo.usuario}}</a><br>
                  <ng-container *ngIf="isImage(articulo.imagen); else videoBlock">
                    <div class="clothing-container">
                      <img class="foto" [src]="'assets/img/' + articulo.imagen" alt="imagen" />
                      <a *ngIf="articulo.prenda1 !== null" href="{{articulo.link1}}" class="buttons accesorios-button" target="_blank" rel="noopener noreferrer">🔗</a>
                      <a *ngIf="articulo.prenda2 !== null" href="{{articulo.link2}}" class="buttons pants-button" target="_blank" rel="noopener noreferrer">🔗</a>
                      <a *ngIf="articulo.prenda3 !== null" href="{{articulo.link3}}" class="buttons top-button" target="_blank" rel="noopener noreferrer">🔗</a>
                      <a *ngIf="articulo.prenda4 !== null" href="{{articulo.link4}}" class="buttons bag-button" target="_blank" rel="noopener noreferrer">🔗</a>
                      <a *ngIf="articulo.prenda5 !== null" href="{{articulo.link5}}" class="buttons shoes-button" target="_blank" rel="noopener noreferrer">🔗</a>
                      <a *ngIf="articulo.prenda6 !== null" href="{{articulo.link6}}" class="buttons s-button" target="_blank" rel="noopener noreferrer">🔗</a>
                    </div>
                  </ng-container>
                  <ng-template #videoBlock>
                    <video class="video" controls autoplay [muted]="true" loop>
                      <source [src]="'assets/img/' + articulo.imagen" type="video/mp4">
                      Tu navegador no soporta la reproducción de video.
                    </video>
                  </ng-template>
                  <div class="post-content">
                    <div class="reaction-wrapper">
                      <button mat-icon-button (click)="like(articulo.id_post, i)" id="button" [ngClass]="{'negro': !toggle[i], 'red': toggle[i]}">
                        <mat-icon>favorite</mat-icon>
                      </button>
                      <button mat-icon-button> <mat-icon>comment</mat-icon></button>
                      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>send</mat-icon></button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                          <li><a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200" target="_blank" class="facebook"><i class="fa fa-facebook"><span>&nbsp;&nbsp;Facebook</span></i></a></li>
                        </button>
                        <button mat-menu-item disabled>
                          <li><a href="https://twitter.com/intent/tweet?url=http://localhost:4200" target="_blank" class="twitter"><i class="fa fa-twitter"><span>&nbsp;&nbsp;Twitter</span></i></a></li>
                        </button>
                        <button mat-menu-item>
                          <li><a href="https://www.instagram.com/share?url=http://localhost:4200" target="_blank"><i class="fa fa-instagram"><span>&nbsp;&nbsp;Instagram</span></i></a></li>
                        </button>
                      </mat-menu>
                      <button mat-icon-button (click)="save(articulo.id_post,i)" [ngClass]="{'negro': !toggle1[i], 'yellow': toggle1[i]}">
                        <mat-icon>bookmark</mat-icon>
                      </button>
                    </div>
                    <p class="likes">{{likes[articulo.id_post]?.cantidad || 0}} likes</p>
                    <p class="des">{{articulo.descripcion}}</p>
                    <div class="comment" *ngFor="let val of comentarios[articulo.id_post] || []">
                      <p class="description">
                        <span>{{ val.usuario }}</span>: {{ val.comments }}
                        <div class="botones-ed-bo" *ngIf = "val.navegante === usuariolog">
                        <button class="action-button" (click)="openMod(articulo.id_post,val.id_comment)"><img class="imgs" src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png"></button>
                        <button class="action-button" (click)="deleteComment(articulo.id_post,val.id_comment)"><img class="imgs" src="https://cdn-icons-png.flaticon.com/512/88/88666.png"></button>
                        </div>
                    </div>
                    <div class="comment-wrapper">
                      <input [(ngModel)]="comentario[articulo.id_post]" type="text" class="comment-box" placeholder="Escribe un comentario">
                      <button class="comment-btn" (click)="comment(articulo.id_post)"></button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ul>
        </section>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
